@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes */
  gap: 70px;
  margin-top: 100px;

  /* Centre le contenu dans chaque cellule du grid */
  justify-items: center;
  align-items: center;
}

.photographer_section article {
  display: flex;
  flex-direction: column;
  text-align: center; /* Centre le texte à l'intérieur de l'article */
}

/* Image ronde */
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Nom du photographe */
.photographer-name {
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
  color: #d3573c;
  margin: 10px 0;
  text-decoration: none;
}

/* Ville, Pays */
.photographer-location {
  font-size: 13px;
  font-weight: 400;
  line-height: 16.93px;
  color: #901c1c;
  margin: 5px 0;
}

/* Tagline */
.photographer-tagline {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  color: #000000;
  margin: 5px 0;
}

/* Prix */
.photographer-price {
  font-size: 9px;
  font-weight: 400;
  line-height: 11.72px;
  color: #757575;
  margin: 5px 0;
}

/* Lien du photographe : enlever soulignement et couleur par défaut */
.photographer-link,
.photographer-link:visited,
.photographer-link:hover,
.photographer-link:active {
  text-decoration: none;
  color: #d3573c;
}

/* Couleur du nom du photographe dans le lien */
.photographer-link h2.photographer-name {
  color: #d3573c;
}
