:root {
  --font-family: "DM Sans", sans-serif;
  --color-primary: #901c1c;
  --color-secondary: #d3573c;
  --color-text: #525252;
  --color-white: #ffffff;
  --color-light-bg: #fafafa;
  --color-grey-border: #ddd;
  --color-highlight: #d3573c;
}
